{% extends "base.html" %}

{% block content %}
<div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

        <!-- Blog Post -->

        <!-- Title -->
        <h1>{{post.subject}}</h1>

        <!-- Author -->
        <p class="lead">
            by <a href="/blog/profile/{{post.author}}">{{post.author}}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.created.strftime("%b %d, %Y")}} at {{post.created.strftime("%-I:%M%p")}}</p>

        <br>

        <!-- Post Content -->
        <p class="lead">
            {% for line in post.content.splitlines() %}
                {{line}}<br>
            {% endfor %}
        </p>

        <hr>

        <!-- Blog Comments -->

        <!-- Comments Form -->
        <a href="/blog/login">Login</a> to like and post comments.

        <hr>

        <!-- Posted Comments -->

        <!-- Comment -->
        {% for comment in comments %}
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading"><a href="/blog/profile/{{comment.username}}">{{comment.username}}</a>
                        <small>{{comment.created.strftime("%b %d, %Y")}} at {{comment.created.strftime("%-I:%M%p")}}</small>
                    </h4>
                    {{comment.comment}}
                </div>
            </div>
        {% endfor %}

    </div>

</div>
<!-- /.row -->
{% endblock %}